.container {
  display: flex;

  div {
    width: 50%;
  }
}

.right {
  .queries_list {
    width: 100%;
    height: 300px;
    overflow-x: auto;
  }
}

.left {
  textarea {
    width: 500px;
    height: 150px;
  }

  .submit_button {
    display: flex;
  }
}
